
*{
    padding: 0;
    margin: 0;
    /* font-family: 'emoji Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    box-sizing: border-box;

}


body {
    background-color: #212121;
}

.navbar {
    /* color: white; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 45px 8% 8%; */
}

.navbar img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px ; 
    font-size: 18px; 

}


.navbar ul li a{
color:white;
text-decoration: none;
/* font-weight: bold; */
text-transform: capitalize;
}

.navbar ul li a:hover{
    color:#00ffbb ;
    transition: .4s;


}

.navbar ul button{
    background-color:#00ffbb ;
    height: 50px;
    width:150px;
    margin-right: 100px;
    border-radius: 80px;
}


.service{
    background:#212121;
    width: 100%;
    padding: 30px 0px;
 }
 .title h2{
     color: rgb(231, 207, 207);
     font-size: 75px;
     width: 1130px;
     margin: 30px auto;
     text-align: center;
 }
 .box{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 400px;   
 }
 .card{
     height: 400px;
     width: 335px;
     padding: 20px 35px;
     background:black;
     border-radius: 20px;
     margin: 15px;
     position: relative;
     overflow: hidden;
     text-align: center;
 }
 .card i{
     font-size: 50px;
     display: block;
     text-align: center;
     margin: 25px 0px;
     color: #00ffbb;
 }
 h5{
     color: white;
     font-size: 23px;
     margin-bottom: 15px;
 }
 .para p{
     color: #fcfc;
     font-size: 16px;
     line-height: 27px;
     margin-bottom: 25px;
 }
 .card .button{
     background-color:#00ffbb;
     color: white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: bold;
     padding: 9px 22px;
     border-radius: 30px;
     transition: .4s; 
 }
 .card .button:hover{
     background-color: transparent;
     border: 2px solid #f9004d;
     cursor: pointer;
 }
 .contact-me{
     width: 100%;
     height: 290px;
     background: #191919;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
 }
 .contact-me p{
     color: white;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 25px;
 }
 .contact-me .button-two{
     background-color:#00ffbb;
     color: white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: bold;
     padding: 13px 30px;
     border-radius: 30px;
     transition: .4s; 
 }
 .contact-me .button-two:hover{
     background-color: transparent;
     border: 2px solid #f9004d;
     cursor: pointer;
 }

 
.a-social a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px brown;
	transition:all ease 0.5s;
}
.a-social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

.a-social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.a-social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px; 
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #cbcbcb;
	box-shadow:2px 2px 12px rgba(236, 211, 211, 0.2);
}
.a-social i{
	font-size:20px;
	color:#2B2B2B;
}
 